body {
    height: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55, #c0ffee);
}
h1 {
    text-align: center;
}
article {
    border: 1px solid white;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: whitesmoke;
}